@import url('https://fonts.googleapis.com/css2?family=Saira:wght@400;700&display=swap');

.container-fluid {
    overflow-y: auto;
    font-family: "Saira";
}
.mycol {
    padding: 7px 10px;
    height: calc(100vh - 82px);
}